<div class="all_chats_container absolute right-0 flex h-full w-[65%] flex-col rounded-r-xl">
	<!-- chats head -->
	<%- include('./chatHead.ejs') %>

	<!-- all chats / chat-mid -->
	<%- include('./chatMid.ejs') %>

	<!-- chats end -->
	<%- include('./chatEnd.ejs') %>
</div>
