<!doctype html>
<html lang="en" data-theme="cupcake">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/output.css" />
</head>

<body>
    <div class="login_body absolute h-full w-full flex justify-center items-center">
        <div class="login_main absolute flex h-4/5 w-3/4 flex-row rounded-xl backdrop-blur-2xl shadow-2xl">
            <div class="login_form flex justify-center items-center absolute w-1/2 rounded-l-xl left-0 h-full max-xl:w-full">
                <div class="flex absolute h-[95%] w-[95%] flex-col space-y-6 p-8 items-center justify-center no-scrollbar overflow-scroll">
                    <h1 class="top-11 text-5xl font-bold text-[#E9E9E9] mb-7 max-md:hidden">Chat Verse</h1>
                    <h1 class="text-4xl font-bold text-[#E9E9E9] mb-4">Login</h1>
                    <div class="flex flex-col space-y-2">
                        <label for="email" class="text-lg font-semibold text-[#E9E9E9]">Email</label>
                        <input type="email" name="email" id="login-email" class="p-2 rounded-md bg-[#E9E9E9] border-2 border-solid border-[#4B2138] text-[#4B2138] outline-none w-60" />
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label for="password" class="text-lg font-semibold text-[#E9E9E9]">Password</label>
                        <input type="password" name="password" id="login-password" class="p-2 rounded-md bg-[#E9E9E9] border-2 border-solid border-[#4B2138] text-[#4B2138] outline-none w-60" />
                    </div>
                    <button type="submit" id="login-btn" class="btn border-[#E9E9E9] hover:bg-[#E9E9E9] hover:text-[#4B2138] bg-[#4B2138] text-[#E9E9E9] p-2 rounded-md w-40">
                        Login
                    </button>
                    <div class="divider divider-info text-[#E9E9E9]">OR</div>
                    <!-- Google Button -->
                    <div id="g_id_onload" class="hidden" data-client_id="368519354830-lf7bkpjqadbvmh2h9l4fqaqd89b4ldil.apps.googleusercontent.com" data-context="signin" data-ux_mode="redirect" data-login_uri="http://localhost:3000/auth/one-tap-google/callback">
                    </div>
                    <button id="google-signin-btn" type="submit" class="btn border-[#E9E9E9] hover:bg-[#E9E9E9] hover:text-[#4B2138] bg-[#4B2138] text-[#E9E9E9] rounded-md w-fit flex justify-center items-center">
                        <a href="/auth/login/google"><span class="mx-9 flex justify-center items-center"><img class="mr-2" src="/svgs/google-icon.svg" alt="google-icon">Sign in with Google</span></a>
                    </button>
                    <!-- Go to register -->
                    <p class="text-[#E9E9E9]">
                        <span>Don't have an account?</span>
                        <a href="/auth/register" class="text-[#E9E9E9] underline">Register</a>
                    </p>
                </div>
            </div>
            <div class="side_img absolute right-0 h-full w-1/2 rounded-r-xl max-xl:hidden">
                <img class="w-full h-full rounded-r-xl" src="/assets/side-image.png" alt=" login" />
            </div>
            <div role="alert" id="login-alert" class="alert absolute bottom-0 w-1/2 mb-2 ml-1 hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span>This is an alert</span>
            </div>
        </div>
    </div>
</body>
<!-- <script type="module" src="/components/login.js"></script> -->
<script src="/login.bundle.js"></script>
<script src="https://accounts.google.com/gsi/client" async></script>

</html>