<!doctype html>
<html lang="en" data-theme="cupcake">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0>" />
        <title>Register</title>
        <link rel="stylesheet" href="/output.css" />
    </head>

    <body>
        <div class="register-body absolute h-full w-full flex justify-center items-center">
            <div class="register-main absolute flex h-4/5 w-3/4 flex-row rounded-xl backdrop-blur-2xl shadow-2xl">
                <!-- side image -->
                <div class="side_img absolute left-0 h-full w-1/2 rounded-l-xl max-xl:hidden">
                    <img class="w-full h-full rounded-l-xl" src="/assets/side-image.png" alt="register" />
                </div>
                <!-- register form -->
                <div
                    class="register-div flex justify-center items-center absolute w-1/2 rounded-r-xl right-0 h-full max-xl:w-full">
                    <div
                        class="flex absolute h-[95%] w-[95%] flex-col space-y-6 p-6 items-center justify-center no-scrollbar overflow-scroll">
                        <h1 class="flex items-center justify-center text-5xl font-bold text-[#E9E9E9] max-md:hidden">
                            Chat Verse
                        </h1>
                        <h1 class="flex items-center justify-center text-4xl font-bold text-[#E9E9E9]">Register</h1>
                        <div class="flex flex-col space-y-2">
                            <label for="email" class="text-lg font-semibold text-[#E9E9E9]">Email</label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                class="p-2 rounded-md bg-[#E9E9E9] border-2 border-solid border-[#4B2138] text-[#4B2138] outline-none w-60" />
                        </div>
                        <div class="flex flex-col space-y-2">
                            <label for="password" class="text-lg font-semibold text-[#E9E9E9]">Password</label>
                            <input
                                type="password"
                                name="password"
                                id="password"
                                class="p-2 rounded-md bg-[#E9E9E9] border-2 border-solid border-[#4B2138] text-[#4B2138] outline-none w-60" />
                        </div>
                        <!-- Open the modal using ID.showModal() method -->
                        <button
                            class="btn border-[#E9E9E9] hover:bg-[#E9E9E9] hover:text-[#4B2138] bg-[#4B2138] text-[#E9E9E9]"
                            onclick="my_modal_1.showModal()">
                            Enter Details
                        </button>
                        <dialog id="my_modal_1" class="modal no-scrollbar">
                            <div class="modal-box bg-[#E9E9E9] no-scrollbar">
                                <div class="change-details space-y-4 flex flex-col justify-center items-center">
                                    <div class="flex flex-col space-y-2">
                                        <label for="name" class="text-lg font-semibold text-[#4B2138]">Name</label>
                                        <input
                                            type="name"
                                            name="name"
                                            id="change-details-name"
                                            class="p-2 rounded-md bg-[#E9E9E9] border-2 border-solid border-[#4B2138] text-[#4B2138] outline-none w-60 text-base"
                                            value="" />
                                    </div>
                                    <div class="flex flex-col space-y-2">
                                        <label for="username" class="text-lg font-semibold text-[#4B2138]"
                                            >Username</label
                                        >
                                        <input
                                            type="username"
                                            name="username"
                                            id="change-details-username"
                                            class="p-2 rounded-md bg-[#E9E9E9] border-2 border-solid border-[#4B2138] text-[#4B2138] outline-none w-60 text-base"
                                            value="" />
                                    </div>
                                    <div class="flex flex-col space-y-2">
                                        <label for="gender" class="text-lg font-semibold text-[#4B2138]">Gender</label>
                                        <select
                                            name="gender"
                                            id="change-details-gender"
                                            class="p-2 rounded-md bg-[#E9E9E9] border-2 border-solid border-[#4B2138] text-[#4B2138] outline-none w-60 text-base">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                    <div class="flex flex-col space-y-2 justify-center items-center">
                                        <label for="profilePic" class="text-lg font-semibold text-[#4B2138]"
                                            >Profile Picture</label
                                        >
                                        <div class="avatar">
                                            <div class="w-24 rounded-full">
                                                <img
                                                    id="change-details-profilePic"
                                                    src="https://api.dicebear.com/8.x/adventurer/svg" />
                                            </div>
                                        </div>
                                        <button
                                            class="btn w-24 text-[#E9E9E9] bg-[#4B2138] hover:bg-[#E9E9E9] hover:text-[#4B2138] hover:border-1 hover:border-[#4B2138]"
                                            id="change-profilePic-btn">
                                            Change
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-action">
                                    <form method="dialog">
                                        <!-- if there is a button in form, it will close the modal -->
                                        <button
                                            id="chat-change-details-done-btn"
                                            class="btn btn-outline hover:bg-[#4B2138] hover:text-[#E9E9E9] text-[#4B2138]">
                                            Done
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </dialog>

                        <button
                            type="submit"
                            class="btn border-[#E9E9E9] hover:bg-[#E9E9E9] hover:text-[#4B2138] bg-[#4B2138] text-[#E9E9E9] p-2 rounded-md w-40">
                            Register
                        </button>
                        <p class="text-[#E9E9E9]">
                            <span>Already have an account?</span>
                            <a href="/login" class="text-[#E9E9E9] underline">Login</a>
                        </p>
                    </div>
                    <div
                        role="alert"
                        id="change-details-response"
                        class="alert absolute bottom-0 w-1/2 mb-2 ml-1 hidden">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            class="stroke-current shrink-0 w-6 h-6">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <span>This is an alert</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/components/register.js"></script>
</html>
